/* Estilo geral */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  color: #333;
  line-height: 1.6;
}

.container {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #343a40;
  margin-bottom: 20px;
}

h2 {
  color: #495057;
  margin-bottom: 15px;
  font-size: 1.5em;
  border-bottom: 2px solid #6c757d;
  padding-bottom: 5px;
}

/* Formulários */
form {
  margin-bottom: 30px;
}

form div {
  margin-bottom: 15px;
}

form label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  color: #495057;
}

form input[type="text"],
form input[type="date"],
form select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  font-size: 1rem;
  transition: border-color 0.3s, box-shadow 0.3s;
  color : black;
}

form input:focus,
form select:focus {
  outline: none;
  border-color: #80bdff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
}

/* Botões */
button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

button[type="submit"] {
  background-color: #28a745;
}

button:hover {
  background-color: #0056b3;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}

button[type="submit"]:hover {
  background-color: #218838;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}

button:focus {
  outline: none;
  box-shadow: 0 0 8px rgba(72, 167, 242, 0.8);
}

/* Mensagens */
p {
  margin-top: 10px;
  font-size: 1rem;
}

p.success {
  color: #28a745;
  font-weight: bold;
}

p.error {
  color: #dc3545;
  font-weight: bold;
}

/* Responsividade */
@media (max-width: 768px) {
  .container {
    margin: 20px;
    padding: 15px;
  }

  h1 {
    font-size: 1.8em;
  }

  h2 {
    font-size: 1.3em;
  }

  button {
    width: 100%;
    padding: 12px;
    font-size: 1.1rem;
  }
}